#veturat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1900px;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 8rem;
  border-bottom: 3px solid #b9b5b58d;
}
.cars-title {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: #000d6b;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

.cars-about {
  font-size: 1.6rem;
  color: #555;
  padding-bottom: 4rem;
  text-align: center;
}

.car-year {
  color: goldenrod;
}

.cars-filter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.expenses {
  padding: 1rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  background-color: #000d6b;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  width: 13rem;
  text-align: center;
}

.expenses:hover {
  background-color: goldenrod;
  color: #fff;
}

/* cards */
.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 6rem;
  column-gap: 6rem;
  padding-top: 4rem;
}

.car {
  border: 1px solid rgba(126, 125, 125, 0.245);
  border-radius: 10px;
  box-shadow: rgba(128, 127, 127, 0.666) 0px 3px 5px;
  /* background-color: #e8fae816; */
  padding: 2rem 3rem;
  width: 40rem;
  /* height: 40rem; */
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.price {
  color: #1a711a;
}

.car-year {
  position: absolute;
  top: 18px;
  right: 20px;
  /* transform: rotate(45deg); */
}

.true {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0px;
  right: 5px;
  transform: rotate(45deg);
}

.car-year-text {
  font-size: 1.4rem;
}

.text-true {
  padding-right: 1rem;
}

.car:hover {
  transform: scale(1.02);
  box-shadow: #535fb9 0px 5px 10px;
}

.car-details-link {
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  /* border: 2px solid #000d6b; */
  background-color: #000d6b;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.car-details-link:hover {
  background-color: goldenrod;
  /* border-color: goldenrod; */
  color: #fff;
}

.car-name,
.car-doors {
  font-size: 2rem;
  font-weight: 600;
  color: #444;
}
.price {
  font-size: 3rem;
  font-weight: 600;
  color: #444;
}
.car-hours {
  font-size: 1.4rem;
  color: #666;
}

.car-image {
  width: 24rem;
  align-self: center;
}

.bottom-info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.marshi,
.type,
.shpenzimet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: #555;
}

.car-icon {
  font-size: 2.5rem;
  color: #000d6b;
}

.car-icon-car {
  font-size: 2.5rem;
  color: goldenrod;
}

.uil-streering {
  color: rgb(53, 159, 188);
}

.show-more {
  padding: 1.2rem 1rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #000d6b;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  width: 14rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 8rem;
}

.show-more:hover {
  background-color: goldenrod;
  color: #fff;
}

.mostWanded {
  background-color: goldenrod;
  border: none;
  width: fit-content;
  padding: 0.2rem 5rem;
  font-size: 1.6rem;
  color: #fff;
  transform: rotate(45deg);
  overflow: hidden;
  position: absolute;
  top: 35px;
  right: -41px;
}

.economic {
  background-color: #000d6b;
  top: 40px;
  padding: 0.2rem 6rem;
}

@media only screen and (max-width: 650px) {
  .car {
    width: 45rem !important;
    margin: 0 auto !important;
  }
}
@media only screen and (max-width: 430px) {
  .car {
    width: 35rem !important;
    margin: 0 auto !important;
  }
}
@media only screen and (max-width: 330px) {
  .car {
    width: 28rem !important;
    margin: 0 auto !important;
  }
}
