.video-events {
  padding: 10rem 5rem;
  max-width: 1900px;
  margin: 0 auto;
}

.location-title {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: #37a237;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}
.video-wrappper {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  padding-bottom: 2rem;
}

.video1 {
  width: 100%;
  align-self: center;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 59em) {
  .video-wrappper {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .video-events {
    padding: 5rem 0 7rem 0;
  }
}
