.about-us {
  max-width: 1900px;
  margin: 0 auto;
  padding-top: 6rem;
  padding-bottom: 15rem;
}

.about-title {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: var(--primary-color);
  padding-bottom: 4rem;
  text-align: center;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  padding-bottom: 9rem;
}

.about-bottom-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.content-wrapper img,
.about-bottom-text img {
  width: 50% !important;
}

.aboutus-title,
.aboutus-title-1 {
  font-size: 4rem;
  color: var(--primary-color);
  padding-bottom: 2rem;
  text-align: start;
}
.about-content,
.about-content-1 {
  width: 50% !important;
}

.about-content-1 {
  padding-left: 2rem;
}

.aboutus-text {
  font-size: 2rem;
  color: var(--secondary-color);
}

@media only screen and (max-width: 1200px) {
  .aboutus-title,
  .aboutus-title-1 {
    font-size: 3rem;
  }

  .aboutus-text {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 1000px) {
  .aboutus-title,
  .aboutus-title-1 {
    font-size: 2.5rem;
  }

  .aboutus-text {
    font-size: 1.6rem;
  }
  /* .content-wrapper img,
  .about-bottom-text img {
    width: 50% !important;
  } */
}
@media only screen and (max-width: 768px) {
  .content-wrapper,
  .about-bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .about-bottom-text {
    flex-direction: column-reverse;
  }

  .about-content,
  .about-content-1 {
    width: 80% !important;
  }
  .about-content-1 {
    padding-left: 0px;
  }

  .content-wrapper img,
  .about-bottom-text img {
    width: 80% !important;
  }
}

@media only screen and (max-width: 420px) {
  .about-content,
  .about-content-1 {
    width: 100% !important;
  }

  .content-wrapper img,
  .about-bottom-text img {
    width: 100% !important;
  }
}
