.header {
  z-index: 999;
  color: white;
  position: absolute;
  background-color: rgba(1, 1, 1, 0.839);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.29) 0px 10px 30px -5px;
}

.nav {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}
.nav-logo {
  width: 10rem;
}
.logo-text {
  position: absolute;
  font-size: 2rem;
  top: 28px;
  font-weight: 500;
  color: #37a237;
  transition: 0.3s;
}

.nav-list {
  display: flex;
  column-gap: 2rem;
  gap: 5rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  font-size: 1.8rem;
  color: #37a237;
}

.nav-link:hover,
.logo-text:hover {
  color: goldenrod;
}
.nav-toggle {
  font-size: 2rem;
}

.nav-close,
.nav-toggle,
.nav-icon {
  display: none;
}

/* ============BREAKPOINTS================= */

@media screen and (max-width: 980px) {
  .nav {
    width: 95%;
  }
  .nav-list {
    display: flex;
    column-gap: 2rem;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .nav {
    height: 8rem;
  }

  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.839);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2rem 2rem 0 0;
    transition: 0.3s;
  }

  /* show menu */
  .show-menu {
    bottom: 0;
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .nav-list > :last-child {
    grid-column-end: -1;
  }
  .nav-link {
    color: #37a237;
  }

  .nav-icon {
    font-size: 2rem;
  }

  .nav-close {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 900;
    cursor: pointer;
    color: #923535;
  }

  .nav-toggle {
    cursor: pointer;
    transition: 0.2s;
    color: #37a237;
    padding-right: 1rem;
  }

  .nav-toggle:hover {
    color: goldenrod;
  }
  .nav-close,
  .nav-toggle,
  .nav-icon {
    display: block;
  }
}

@media (max-width: 350px) {
  .nav-logo {
    display: none;
  }
}
