* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #163020;
  --secondary-color: #304d30;
  --tertiary-color: #b6c4b6;
  --quaternary-color: #eef0e5;
  --hover-text: goldenrod;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding: 10rem 0 2rem;
}

.scroll-position {
  position: relative;
  top: -8rem;
}
/* background color  #efebeb; */
body {
  background-color: #eef0e5;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

textarea,
input {
  background-color: transparent;
  font-family: Poppins;
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  /* .hero-title-top,
  .roberti {
    padding-bottom: 3rem;
    letter-spacing: 2px;
  } */
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 774px) {
  html {
    font-size: 56%;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
}
